{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://uebermaps.com/api/v2"
        }
    ],
    "info": {
        "contact": {
            "name": "uebermaps API Team"
        },
        "description": "Enable people to store spots on public and private maps",
        "termsOfService": "https://uebermaps.com/terms/",
        "title": "uebermaps API endpoints",
        "version": "2.0",
        "x-apisguru-categories": [
            "location"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_pbs.twimg.com_profile_images_738299914506113024_oUd7NREW_400x400.jpg"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://uebermaps.com/api/v2/apidocs",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "uebermaps.com"
    },
    "paths": {
        "/account": {
            "patch": {
                "description": "Update account. Wrap map parameters in [user].",
                "responses": {
                    "200": {
                        "description": "Contains user data.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "about": {
                                            "example": "The comedian",
                                            "type": "string"
                                        },
                                        "counts": {
                                            "properties": {
                                                "maps": {
                                                    "example": 24,
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "header_picture": {
                                            "example": "https://...",
                                            "type": "string"
                                        },
                                        "id": {
                                            "example": 5829035,
                                            "type": "integer"
                                        },
                                        "location": {
                                            "example": "Little Rock, Arkansas",
                                            "type": "string"
                                        },
                                        "name": {
                                            "example": "Bill Hicks",
                                            "type": "string"
                                        },
                                        "picture_url": {
                                            "example": "https://...",
                                            "type": "string"
                                        },
                                        "screen_name": {
                                            "example": "billhicks",
                                            "type": "string"
                                        },
                                        "url": {
                                            "example": "http://www.billhicks.com",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Update account",
                "tags": [
                    "Account"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "about": {
                                        "example": "The comedian",
                                        "type": "string"
                                    },
                                    "header": {
                                        "example": "<BASE_64_ENCODED_STRING>",
                                        "type": "string"
                                    },
                                    "language": {
                                        "example": "en",
                                        "type": "string"
                                    },
                                    "location": {
                                        "example": "Little Rock, Arkansas",
                                        "type": "string"
                                    },
                                    "name": {
                                        "example": "Bill Hicks",
                                        "type": "string"
                                    },
                                    "picture": {
                                        "example": "<BASE_64_ENCODED_STRING>",
                                        "type": "string"
                                    },
                                    "screen_name": {
                                        "example": "billhicks",
                                        "type": "string"
                                    },
                                    "time_zone": {
                                        "example": "Pacific Time (US & Canada)",
                                        "type": "string"
                                    },
                                    "url": {
                                        "example": "http://www.billhicks.com",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "description": "user attributes"
                }
            }
        },
        "/attachments/{id}": {
            "delete": {
                "description": "Delete attachment.",
                "parameters": [
                    {
                        "description": "Attachment id",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Contains deleted attachment.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "attachable_id": {
                                            "example": 7543829,
                                            "type": "integer"
                                        },
                                        "attachable_type": {
                                            "example": "Spot",
                                            "type": "string"
                                        },
                                        "created_at": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "description": {
                                            "example": "This photo was taken in front of the restaurant",
                                            "type": "string"
                                        },
                                        "file_url": {
                                            "example": "https://...",
                                            "type": "string"
                                        },
                                        "id": {
                                            "example": 34939432,
                                            "type": "integer"
                                        },
                                        "map_id": {
                                            "example": 985732,
                                            "type": "integer"
                                        },
                                        "sizes": {
                                            "example": {
                                                "large": {
                                                    "h": 860,
                                                    "w": 1024
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "spot": {
                                            "properties": {
                                                "counts": {
                                                    "properties": {
                                                        "attachments": {
                                                            "example": 4,
                                                            "type": "integer"
                                                        },
                                                        "comments": {
                                                            "example": 24,
                                                            "type": "integer"
                                                        },
                                                        "respot": {
                                                            "example": 34,
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "created_at": {
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "example": "Landed here by accident but look how wonderful this place is in the photos attached",
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "example": 5932234,
                                                    "type": "integer"
                                                },
                                                "lat": {
                                                    "example": 53.112385,
                                                    "type": "number"
                                                },
                                                "lon": {
                                                    "example": 10.58349,
                                                    "type": "number"
                                                },
                                                "map_id": {
                                                    "example": 394805,
                                                    "type": "integer"
                                                },
                                                "picture_url": {
                                                    "example": "https://...",
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "enum": [
                                                        "approved",
                                                        "unapproved"
                                                    ],
                                                    "example": "approved",
                                                    "type": "string"
                                                },
                                                "time_zone": {
                                                    "example": "Berlin",
                                                    "type": "string"
                                                },
                                                "title": {
                                                    "example": "Beautiful place out in the country",
                                                    "type": "string"
                                                },
                                                "updated_at": {
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "user": {
                                                    "properties": {
                                                        "about": {
                                                            "example": "The comedian",
                                                            "type": "string"
                                                        },
                                                        "counts": {
                                                            "properties": {
                                                                "maps": {
                                                                    "example": 24,
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "header_picture": {
                                                            "example": "https://...",
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "example": 5829035,
                                                            "type": "integer"
                                                        },
                                                        "location": {
                                                            "example": "Little Rock, Arkansas",
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "example": "Bill Hicks",
                                                            "type": "string"
                                                        },
                                                        "picture_url": {
                                                            "example": "https://...",
                                                            "type": "string"
                                                        },
                                                        "screen_name": {
                                                            "example": "billhicks",
                                                            "type": "string"
                                                        },
                                                        "url": {
                                                            "example": "http://www.billhicks.com",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "status": {
                                            "enum": [
                                                "approved",
                                                "unapproved"
                                            ],
                                            "example": "approved",
                                            "type": "string"
                                        },
                                        "user": {
                                            "properties": {
                                                "about": {
                                                    "example": "The comedian",
                                                    "type": "string"
                                                },
                                                "counts": {
                                                    "properties": {
                                                        "maps": {
                                                            "example": 24,
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "header_picture": {
                                                    "example": "https://...",
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "example": 5829035,
                                                    "type": "integer"
                                                },
                                                "location": {
                                                    "example": "Little Rock, Arkansas",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "example": "Bill Hicks",
                                                    "type": "string"
                                                },
                                                "picture_url": {
                                                    "example": "https://...",
                                                    "type": "string"
                                                },
                                                "screen_name": {
                                                    "example": "billhicks",
                                                    "type": "string"
                                                },
                                                "url": {
                                                    "example": "http://www.billhicks.com",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Delete attachment",
                "tags": [
                    "Attachments"
                ]
            }
        },
        "/authentication": {
            "post": {
                "description": "Sign in user. Wrap authentication parameters in [user].",
                "responses": {
                    "200": {
                        "description": "Contains user data including authentication token for subsequent requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "about": {
                                                    "example": "The comedian",
                                                    "type": "string"
                                                },
                                                "counts": {
                                                    "properties": {
                                                        "maps": {
                                                            "example": 24,
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "header_picture": {
                                                    "example": "https://...",
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "example": 5829035,
                                                    "type": "integer"
                                                },
                                                "location": {
                                                    "example": "Little Rock, Arkansas",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "example": "Bill Hicks",
                                                    "type": "string"
                                                },
                                                "picture_url": {
                                                    "example": "https://...",
                                                    "type": "string"
                                                },
                                                "screen_name": {
                                                    "example": "billhicks",
                                                    "type": "string"
                                                },
                                                "url": {
                                                    "example": "http://www.billhicks.com",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ],
                                    "properties": {
                                        "auth_token": {
                                            "example": "6g8as82h3kj23h2",
                                            "type": "string"
                                        },
                                        "language": {
                                            "example": "en",
                                            "type": "string"
                                        },
                                        "time_zone": {
                                            "example": "Pacific Time (US & Canada)",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Sign in user",
                "tags": [
                    "Authentication"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "email": {
                                        "example": "a@b.com",
                                        "type": "string"
                                    },
                                    "password": {
                                        "example": "••••••••",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "description": "user authentication attributes",
                    "required": true
                }
            }
        },
        "/collaborator_invitations": {
            "get": {
                "description": "List your collaborator invitations.",
                "responses": {
                    "200": {
                        "description": "Contains list of collaborator invitations.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "accepted": {
                                                "example": true,
                                                "type": "boolean"
                                            },
                                            "created_at": {
                                                "format": "date-time",
                                                "type": "string"
                                            },
                                            "email": {
                                                "example": "a@b.com",
                                                "type": "string"
                                            },
                                            "group": {
                                                "enum": [
                                                    "admin",
                                                    "editor"
                                                ],
                                                "example": "editor",
                                                "type": "string"
                                            },
                                            "id": {
                                                "example": 8696493,
                                                "type": "integer"
                                            },
                                            "invited_by_user": {
                                                "properties": {
                                                    "about": {
                                                        "example": "The comedian",
                                                        "type": "string"
                                                    },
                                                    "counts": {
                                                        "properties": {
                                                            "maps": {
                                                                "example": 24,
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "header_picture": {
                                                        "example": "https://...",
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "example": 5829035,
                                                        "type": "integer"
                                                    },
                                                    "location": {
                                                        "example": "Little Rock, Arkansas",
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "example": "Bill Hicks",
                                                        "type": "string"
                                                    },
                                                    "picture_url": {
                                                        "example": "https://...",
                                                        "type": "string"
                                                    },
                                                    "screen_name": {
                                                        "example": "billhicks",
                                                        "type": "string"
                                                    },
                                                    "url": {
                                                        "example": "http://www.billhicks.com",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "map": {
                                                "properties": {
                                                    "counts": {
                                                        "properties": {
                                                            "attachments": {
                                                                "example": 31,
                                                                "type": "integer"
                                                            },
                                                            "comments": {
                                                                "example": 234,
                                                                "type": "integer"
                                                            },
                                                            "impressions": {
                                                                "example": 234332,
                                                                "type": "integer"
                                                            },
                                                            "respots": {
                                                                "example": 24,
                                                                "type": "integer"
                                                            },
                                                            "spots": {
                                                                "example": 67,
                                                                "type": "integer"
                                                            },
                                                            "subscriptions": {
                                                                "example": 3892,
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "created_at": {
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "description": {
                                                        "example": "A collection of restaurants, cafes, clubs and random spots that I recommend in Berlin",
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "example": 18234843,
                                                        "type": "integer"
                                                    },
                                                    "map_settings": {
                                                        "properties": {
                                                            "editor_access": {
                                                                "example": [
                                                                    "can_administer.map",
                                                                    "can_administer.spots",
                                                                    "can_administer.events",
                                                                    "can_administer.comments",
                                                                    "can_administer.attachments",
                                                                    "can_administer.collaborators"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "respotting_to_this_map": {
                                                                "example": true,
                                                                "type": "boolean"
                                                            },
                                                            "visitor_access": {
                                                                "example": [
                                                                    "can_administer.map",
                                                                    "can_administer.spots",
                                                                    "can_administer.events",
                                                                    "can_administer.comments",
                                                                    "can_administer.attachments",
                                                                    "can_administer.collaborators"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "owner_id": {
                                                        "example": 9829358,
                                                        "type": "integer"
                                                    },
                                                    "picture_url": {
                                                        "example": "https://...",
                                                        "type": "string"
                                                    },
                                                    "title": {
                                                        "example": "My favourite places in Berlin",
                                                        "type": "string"
                                                    },
                                                    "updated_at": {
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "visibility": {
                                                        "enum": [
                                                            "public",
                                                            "link",
                                                            "private"
                                                        ],
                                                        "example": "public",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "sent": {
                                                "example": true,
                                                "type": "boolean"
                                            },
                                            "updated_at": {
                                                "format": "date-time",
                                                "type": "string"
                                            },
                                            "user": {
                                                "properties": {
                                                    "about": {
                                                        "example": "The comedian",
                                                        "type": "string"
                                                    },
                                                    "counts": {
                                                        "properties": {
                                                            "maps": {
                                                                "example": 24,
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "header_picture": {
                                                        "example": "https://...",
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "example": 5829035,
                                                        "type": "integer"
                                                    },
                                                    "location": {
                                                        "example": "Little Rock, Arkansas",
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "example": "Bill Hicks",
                                                        "type": "string"
                                                    },
                                                    "picture_url": {
                                                        "example": "https://...",
                                                        "type": "string"
                                                    },
                                                    "screen_name": {
                                                        "example": "billhicks",
                                                        "type": "string"
                                                    },
                                                    "url": {
                                                        "example": "http://www.billhicks.com",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "List your collaborator invitations",
                "tags": [
                    "CollaboratorInvitations"
                ]
            },
            "post": {
                "description": "Invite user to collaborate on map.",
                "responses": {
                    "200": {
                        "description": "Contains collaborator invitation data.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "accepted": {
                                            "example": true,
                                            "type": "boolean"
                                        },
                                        "created_at": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "email": {
                                            "example": "a@b.com",
                                            "type": "string"
                                        },
                                        "group": {
                                            "enum": [
                                                "admin",
                                                "editor"
                                            ],
                                            "example": "editor",
                                            "type": "string"
                                        },
                                        "id": {
                                            "example": 8696493,
                                            "type": "integer"
                                        },
                                        "invited_by_user": {
                                            "properties": {
                                                "about": {
                                                    "example": "The comedian",
                                                    "type": "string"
                                                },
                                                "counts": {
                                                    "properties": {
                                                        "maps": {
                                                            "example": 24,
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "header_picture": {
                                                    "example": "https://...",
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "example": 5829035,
                                                    "type": "integer"
                                                },
                                                "location": {
                                                    "example": "Little Rock, Arkansas",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "example": "Bill Hicks",
                                                    "type": "string"
                                                },
                                                "picture_url": {
                                                    "example": "https://...",
                                                    "type": "string"
                                                },
                                                "screen_name": {
                                                    "example": "billhicks",
                                                    "type": "string"
                                                },
                                                "url": {
                                                    "example": "http://www.billhicks.com",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "map": {
                                            "properties": {
                                                "counts": {
                                                    "properties": {
                                                        "attachments": {
                                                            "example": 31,
                                                            "type": "integer"
                                                        },
                                                        "comments": {
                                                            "example": 234,
                                                            "type": "integer"
                                                        },
                                                        "impressions": {
                                                            "example": 234332,
                                                            "type": "integer"
                                                        },
                                                        "respots": {
                                                            "example": 24,
                                                            "type": "integer"
                                                        },
                                                        "spots": {
                                                            "example": 67,
                                                            "type": "integer"
                                                        },
                                                        "subscriptions": {
                                                            "example": 3892,
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "created_at": {
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "example": "A collection of restaurants, cafes, clubs and random spots that I recommend in Berlin",
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "example": 18234843,
                                                    "type": "integer"
                                                },
                                                "map_settings": {
                                                    "properties": {
                                                        "editor_access": {
                                                            "example": [
                                                                "can_administer.map",
                                                                "can_administer.spots",
                                                                "can_administer.events",
                                                                "can_administer.comments",
                                                                "can_administer.attachments",
                                                                "can_administer.collaborators"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "respotting_to_this_map": {
                                                            "example": true,
                                                            "type": "boolean"
                                                        },
                                                        "visitor_access": {
                                                            "example": [
                                                                "can_administer.map",
                                                                "can_administer.spots",
                                                                "can_administer.events",
                                                                "can_administer.comments",
                                                                "can_administer.attachments",
                                                                "can_administer.collaborators"
                                                            ],
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "owner_id": {
                                                    "example": 9829358,
                                                    "type": "integer"
                                                },
                                                "picture_url": {
                                                    "example": "https://...",
                                                    "type": "string"
                                                },
                                                "title": {
                                                    "example": "My favourite places in Berlin",
                                                    "type": "string"
                                                },
                                                "updated_at": {
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "visibility": {
                                                    "enum": [
                                                        "public",
                                                        "link",
                                                        "private"
                                                    ],
                                                    "example": "public",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "sent": {
                                            "example": true,
                                            "type": "boolean"
                                        },
                                        "updated_at": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "user": {
                                            "properties": {
                                                "about": {
                                                    "example": "The comedian",
                                                    "type": "string"
                                                },
                                                "counts": {
                                                    "properties": {
                                                        "maps": {
                                                            "example": 24,
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "header_picture": {
                                                    "example": "https://...",
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "example": 5829035,
                                                    "type": "integer"
                                                },
                                                "location": {
                                                    "example": "Little Rock, Arkansas",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "example": "Bill Hicks",
                                                    "type": "string"
                                                },
                                                "picture_url": {
                                                    "example": "https://...",
                                                    "type": "string"
                                                },
                                                "screen_name": {
                                                    "example": "billhicks",
                                                    "type": "string"
                                                },
                                                "url": {
                                                    "example": "http://www.billhicks.com",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Invite user to collaborate on map",
                "tags": [
                    "CollaboratorInvitations"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "emails": {
                                        "example": "a@b.com, c@d.com, e@f.com",
                                        "type": "string"
                                    },
                                    "is_admin": {
                                        "example": true,
                                        "type": "boolean"
                                    },
                                    "map_id": {
                                        "example": 34925783,
                                        "type": "integer"
                                    },
                                    "user_ids": {
                                        "example": "5839459, 389423, 89494, 686950",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "description": "Supply map_id and either a comma separated list of user_ids or emails. Optionally you can provide a 'is_admin' parameter with 'true' or 'false' to give the invited users admin privileges."
                }
            }
        },
        "/collaborator_invitations/{id}": {
            "delete": {
                "description": "Delete collaborator invitation.",
                "parameters": [
                    {
                        "description": "Collaborator invitation id",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Contains deleted collaborator invitation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "accepted": {
                                            "example": true,
                                            "type": "boolean"
                                        },
                                        "created_at": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "email": {
                                            "example": "a@b.com",
                                            "type": "string"
                                        },
                                        "group": {
                                            "enum": [
                                                "admin",
                                                "editor"
                                            ],
                                            "example": "editor",
                                            "type": "string"
                                        },
                                        "id": {
                                            "example": 8696493,
                                            "type": "integer"
                                        },
                                        "invited_by_user": {
                                            "properties": {
                                                "about": {
                                                    "example": "The comedian",
                                                    "type": "string"
                                                },
                                                "counts": {
                                                    "properties": {
                                                        "maps": {
                                                            "example": 24,
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "header_picture": {
                                                    "example": "https://...",
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "example": 5829035,
                                                    "type": "integer"
                                                },
                                                "location": {
                                                    "example": "Little Rock, Arkansas",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "example": "Bill Hicks",
                                                    "type": "string"
                                                },
                                                "picture_url": {
                                                    "example": "https://...",
                                                    "type": "string"
                                                },
                                                "screen_name": {
                                                    "example": "billhicks",
                                                    "type": "string"
                                                },
                                                "url": {
                                                    "example": "http://www.billhicks.com",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "map": {
                                            "properties": {
                                                "counts": {
                                                    "properties": {
                                                        "attachments": {
                                                            "example": 31,
                                                            "type": "integer"
                                                        },
                                                        "comments": {
                                                            "example": 234,
                                                            "type": "integer"
                                                        },
                                                        "impressions": {
                                                            "example": 234332,
                                                            "type": "integer"
                                                        },
                                                        "respots": {
                                                            "example": 24,
                                                            "type": "integer"
                                                        },
                                                        "spots": {
                                                            "example": 67,
                                                            "type": "integer"
                                                        },
                                                        "subscriptions": {
                                                            "example": 3892,
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "created_at": {
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "example": "A collection of restaurants, cafes, clubs and random spots that I recommend in Berlin",
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "example": 18234843,
                                                    "type": "integer"
                                                },
                                                "map_settings": {
                                                    "properties": {
                                                        "editor_access": {
                                                            "example": [
                                                                "can_administer.map",
                                                                "can_administer.spots",
                                                                "can_administer.events",
                                                                "can_administer.comments",
                                                                "can_administer.attachments",
                                                                "can_administer.collaborators"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "respotting_to_this_map": {
                                                            "example": true,
                                                            "type": "boolean"
                                                        },
                                                        "visitor_access": {
                                                            "example": [
                                                                "can_administer.map",
                                                                "can_administer.spots",
                                                                "can_administer.events",
                                                                "can_administer.comments",
                                                                "can_administer.attachments",
                                                                "can_administer.collaborators"
                                                            ],
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "owner_id": {
                                                    "example": 9829358,
                                                    "type": "integer"
                                                },
                                                "picture_url": {
                                                    "example": "https://...",
                                                    "type": "string"
                                                },
                                                "title": {
                                                    "example": "My favourite places in Berlin",
                                                    "type": "string"
                                                },
                                                "updated_at": {
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "visibility": {
                                                    "enum": [
                                                        "public",
                                                        "link",
                                                        "private"
                                                    ],
                                                    "example": "public",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "sent": {
                                            "example": true,
                                            "type": "boolean"
                                        },
                                        "updated_at": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "user": {
                                            "properties": {
                                                "about": {
                                                    "example": "The comedian",
                                                    "type": "string"
                                                },
                                                "counts": {
                                                    "properties": {
                                                        "maps": {
                                                            "example": 24,
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "header_picture": {
                                                    "example": "https://...",
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "example": 5829035,
                                                    "type": "integer"
                                                },
                                                "location": {
                                                    "example": "Little Rock, Arkansas",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "example": "Bill Hicks",
                                                    "type": "string"
                                                },
                                                "picture_url": {
                                                    "example": "https://...",
                                                    "type": "string"
                                                },
                                                "screen_name": {
                                                    "example": "billhicks",
                                                    "type": "string"
                                                },
                                                "url": {
                                                    "example": "http://www.billhicks.com",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Delete collaborator invitation",
                "tags": [
                    "CollaboratorInvitations"
                ]
            },
            "get": {
                "description": "Show collaborator invitation",
                "parameters": [
                    {
                        "description": "Collaborator invitation id",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Contains collaborator invitation data.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "accepted": {
                                            "example": true,
                                            "type": "boolean"
                                        },
                                        "created_at": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "email": {
                                            "example": "a@b.com",
                                            "type": "string"
                                        },
                                        "group": {
                                            "enum": [
                                                "admin",
                                                "editor"
                                            ],
                                            "example": "editor",
                                            "type": "string"
                                        },
                                        "id": {
                                            "example": 8696493,
                                            "type": "integer"
                                        },
                                        "invited_by_user": {
                                            "properties": {
                                                "about": {
                                                    "example": "The comedian",
                                                    "type": "string"
                                                },
                                                "counts": {
                                                    "properties": {
                                                        "maps": {
                                                            "example": 24,
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "header_picture": {
                                                    "example": "https://...",
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "example": 5829035,
                                                    "type": "integer"
                                                },
                                                "location": {
                                                    "example": "Little Rock, Arkansas",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "example": "Bill Hicks",
                                                    "type": "string"
                                                },
                                                "picture_url": {
                                                    "example": "https://...",
                                                    "type": "string"
                                                },
                                                "screen_name": {
                                                    "example": "billhicks",
                                                    "type": "string"
                                                },
                                                "url": {
                                                    "example": "http://www.billhicks.com",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "map": {
                                            "properties": {
                                                "counts": {
                                                    "properties": {
                                                        "attachments": {
                                                            "example": 31,
                                                            "type": "integer"
                                                        },
                                                        "comments": {
                                                            "example": 234,
                                                            "type": "integer"
                                                        },
                                                        "impressions": {
                                                            "example": 234332,
                                                            "type": "integer"
                                                        },
                                                        "respots": {
                                                            "example": 24,
                                                            "type": "integer"
                                                        },
                                                        "spots": {
                                                            "example": 67,
                                                            "type": "integer"
                                                        },
                                                        "subscriptions": {
                                                            "example": 3892,
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "created_at": {
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "example": "A collection of restaurants, cafes, clubs and random spots that I recommend in Berlin",
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "example": 18234843,
                                                    "type": "integer"
                                                },
                                                "map_settings": {
                                                    "properties": {
                                                        "editor_access": {
                                                            "example": [
                                                                "can_administer.map",
                                                                "can_administer.spots",
                                                                "can_administer.events",
                                                                "can_administer.comments",
                                                                "can_administer.attachments",
                                                                "can_administer.collaborators"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "respotting_to_this_map": {
                                                            "example": true,
                                                            "type": "boolean"
                                                        },
                                                        "visitor_access": {
                                                            "example": [
                                                                "can_administer.map",
                                                                "can_administer.spots",
                                                                "can_administer.events",
                                                                "can_administer.comments",
                                                                "can_administer.attachments",
                                                                "can_administer.collaborators"
                                                            ],
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "owner_id": {
                                                    "example": 9829358,
                                                    "type": "integer"
                                                },
                                                "picture_url": {
                                                    "example": "https://...",
                                                    "type": "string"
                                                },
                                                "title": {
                                                    "example": "My favourite places in Berlin",
                                                    "type": "string"
                                                },
                                                "updated_at": {
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "visibility": {
                                                    "enum": [
                                                        "public",
                                                        "link",
                                                        "private"
                                                    ],
                                                    "example": "public",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "sent": {
                                            "example": true,
                                            "type": "boolean"
                                        },
                                        "updated_at": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "user": {
                                            "properties": {
                                                "about": {
                                                    "example": "The comedian",
                                                    "type": "string"
                                                },
                                                "counts": {
                                                    "properties": {
                                                        "maps": {
                                                            "example": 24,
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "header_picture": {
                                                    "example": "https://...",
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "example": 5829035,
                                                    "type": "integer"
                                                },
                                                "location": {
                                                    "example": "Little Rock, Arkansas",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "example": "Bill Hicks",
                                                    "type": "string"
                                                },
                                                "picture_url": {
                                                    "example": "https://...",
                                                    "type": "string"
                                                },
                                                "screen_name": {
                                                    "example": "billhicks",
                                                    "type": "string"
                                                },
                                                "url": {
                                                    "example": "http://www.billhicks.com",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Show collaborator invitation",
                "tags": [
                    "CollaboratorInvitations"
                ]
            },
            "patch": {
                "description": "Accept collaborator invitation.",
                "parameters": [
                    {
                        "description": "Collaborator invitation id",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Contains collaborator invitation data.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "accepted": {
                                            "example": true,
                                            "type": "boolean"
                                        },
                                        "created_at": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "email": {
                                            "example": "a@b.com",
                                            "type": "string"
                                        },
                                        "group": {
                                            "enum": [
                                                "admin",
                                                "editor"
                                            ],
                                            "example": "editor",
                                            "type": "string"
                                        },
                                        "id": {
                                            "example": 8696493,
                                            "type": "integer"
                                        },
                                        "invited_by_user": {
                                            "properties": {
                                                "about": {
                                                    "example": "The comedian",
                                                    "type": "string"
                                                },
                                                "counts": {
                                                    "properties": {
                                                        "maps": {
                                                            "example": 24,
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "header_picture": {
                                                    "example": "https://...",
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "example": 5829035,
                                                    "type": "integer"
                                                },
                                                "location": {
                                                    "example": "Little Rock, Arkansas",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "example": "Bill Hicks",
                                                    "type": "string"
                                                },
                                                "picture_url": {
                                                    "example": "https://...",
                                                    "type": "string"
                                                },
                                                "screen_name": {
                                                    "example": "billhicks",
                                                    "type": "string"
                                                },
                                                "url": {
                                                    "example": "http://www.billhicks.com",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "map": {
                                            "properties": {
                                                "counts": {
                                                    "properties": {
                                                        "attachments": {
                                                            "example": 31,
                                                            "type": "integer"
                                                        },
                                                        "comments": {
                                                            "example": 234,
                                                            "type": "integer"
                                                        },
                                                        "impressions": {
                                                            "example": 234332,
                                                            "type": "integer"
                                                        },
                                                        "respots": {
                                                            "example": 24,
                                                            "type": "integer"
                                                        },
                                                        "spots": {
                                                            "example": 67,
                                                            "type": "integer"
                                                        },
                                                        "subscriptions": {
                                                            "example": 3892,
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "created_at": {
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "example": "A collection of restaurants, cafes, clubs and random spots that I recommend in Berlin",
                                                    "type": "string"
                                                },
                                                "id": {
[...]
